.footer {
  background-color: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}
.footer p {
  color: #f4f4fd;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}
.logo-footer {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
}
.logo-footer span {
  color: #4d5ae5;
}
.footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}
.footer-text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-socials-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 120px;
}
.footer-socials-media p{
  font-weight: 500;
  color: #ffffff;
}
.footer .socials-list-item:hover a,
.footer .socials-list-item:focus a {
  background-color: #31d0aa;
}
.footer .socials-list {
  gap: 16px;
}
